<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.content.mapper.TeachplanMapper">

    <select id="getOrderbyMax" resultType="java.lang.Integer">
        select max(orderby) from teachplan
        where parentid = #{parentId} and course_id = #{courseId}
    </select>

</mapper>